{% extends "index.html" %}

{% block content %}

    <div ng-controller="searchController">
        {{results}}
        <form ng-submit="submit()">
          <input pav-search="submit()" type="text" ng-model="searchTerms" name="text" />
        </form>
        <p>Angular data will be below</p>
        [[results]]
        <h3>And in a ng-table!</h3>
        <table ng-table="tableParams">
            <tr ng-repeat="item in $data">
                <td data-title="'Title'" sortable="'title'">
                    [[item.title]]
                </td>
                <td data-title="'Description'" sortable="'description'">
                    [[item.description]]
                </td>
            </tr>
        </table>
    </div>

{% endblock %}


